% Compiler Options for rebar
{erl_opts, [
  {src_dirs, ["src"]}
]}.

% Dependencies (None, actually)
{deps, []}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.

% Running with rebar3 shell will automatically configure to use it
% spoofed gpio files.
% Note only GPIO1 and GPIO2 are currently available for testing purposes
{shell, [
    {config, "config/shell.config"},
    {apps, [gpio]}
]}.
